.contacts {
    &__title {
        margin-bottom: 0 !important;
        &-block {
            height: 40px;
            width: 5px;
            background: rgb(5, 23, 31);
        }
        &-container {
            display: flex;
            align-items: center;
        }
    }
    
}